### <span style="color:blue">Selecting a Single Column of Data</span>

In [2]:
import pandas as pd
df = pd.read_csv('iris.csv', index_col=0) # define which column will be the index
df.head(10)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa
6             5.4           3.9            1.7           0.4  Iris-setosa
7             4.6           3.4            1.4           0.3  Iris-setosa
8             5.0           3.4            1.5           0.2  Iris-setosa
9             4.4           2.9            1.4           0.2  Iris-setosa
10            4.9           3.1            1.5           0.1  Iris-setosa

In [3]:
df['SepalLengthCm'].head(10)

Id
1     5.1
2     4.9
3     4.7
4     4.6
5     5.0
6     5.4
7     4.6
8     5.0
9     4.4
10    4.9
Name: SepalLengthCm, dtype: float64

### <span style="color:red">Selection with dot notation</span>

In [4]:
df.SepalLengthCm.head(10)

Id
1     5.1
2     4.9
3     4.7
4     4.6
5     5.0
6     5.4
7     4.6
8     5.0
9     4.4
10    4.9
Name: SepalLengthCm, dtype: float64

#### This does not work in the following situations
- When there are spaces in the column name
- When the column name is the same as a DataFrame method
- When the column name is a variable

In [5]:
df.head(10)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa
6             5.4           3.9            1.7           0.4  Iris-setosa
7             4.6           3.4            1.4           0.3  Iris-setosa
8             5.0           3.4            1.5           0.2  Iris-setosa
9             4.4           2.9            1.4           0.2  Iris-setosa
10            4.9           3.1            1.5           0.1  Iris-setosa

In [14]:
df_new = df.groupby('Species').agg({'PetalWidthCm' : ['sum', 'mean', 'max']})
df_new.reset_index()

           Species PetalWidthCm
                            sum   mean  max
0      Iris-setosa         12.2  0.244  0.6
1  Iris-versicolor         66.3  1.326  1.8
2   Iris-virginica        101.3  2.026  2.5

In [15]:
df.groupby(['Species', 'PetalWidthCm']).agg({'SepalWidthCm' : ['sum', 'mean', 'max']})

                             SepalWidthCm
                                      sum      mean  max
Species         PetalWidthCm
Iris-setosa     0.1                  19.4  3.233333  4.1
                0.2                  94.9  3.389286  4.2
                0.3                  23.3  3.328571  3.8
                0.4                  26.5  3.785714  4.4
                0.5                   3.3  3.300000  3.3
                0.6                   3.5  3.500000  3.5
Iris-versicolor 1.0                  16.6  2.371429  2.7
                1.1                   7.4  2.466667  2.5
                1.2                  13.7  2.740000  3.0
                1.3                  35.7  2.746154  3.0
                1.4                  20.7  2.957143  3.2
                1.5                  28.8  2.880000  3.2
                1.6                   9.4  3.133333  3.4
                1.7                   3.0  3.000000  3.0
                1.8                   3.2  3.200000  3.2
Iris-virginica  1.4                   2.6  2.600000  2.6
                1.5                   5.0  2.500000  2.8
                1.6                   3.0  3.000000  3.0
                1.7                   2.5  2.500000  2.5
                1.8                  32.1  2.918182  3.2
                1.9                  13.4  2.680000  2.8
                2.0                  18.1  3.016667  3.8
                2.1                  18.2  3.033333  3.3
                2.2                   9.6  3.200000  3.8
                2.3                  24.7  3.087500  3.4
                2.4                   9.3  3.100000  3.4
                2.5                  10.2  3.400000  3.6

In [19]:
df.pivot_table(index='Species', aggfunc='max')

                 PetalLengthCm  PetalWidthCm  SepalLengthCm  SepalWidthCm
Species
Iris-setosa                1.9           0.6            5.8           4.4
Iris-versicolor            5.1           1.8            7.0           3.4
Iris-virginica             6.9           2.5            7.9           3.8

In [24]:
pd.crosstab(index=df['Species'], columns=df['Species']) # made for count
df.pivot_table(index='Species', columns='Species', aggfunc='size') # equivalence (without the columns it provides a Series)

Species          Iris-setosa  Iris-versicolor  Iris-virginica
Species
Iris-setosa             50.0              NaN             NaN
Iris-versicolor          NaN             50.0             NaN
Iris-virginica           NaN              NaN            50.0

In [28]:
df.melt(id_vars='Species', value_vars='SepalWidthCm')

            Species      variable  value
0       Iris-setosa  SepalWidthCm    3.5
1       Iris-setosa  SepalWidthCm    3.0
2       Iris-setosa  SepalWidthCm    3.2
3       Iris-setosa  SepalWidthCm    3.1
4       Iris-setosa  SepalWidthCm    3.6
5       Iris-setosa  SepalWidthCm    3.9
6       Iris-setosa  SepalWidthCm    3.4
7       Iris-setosa  SepalWidthCm    3.4
8       Iris-setosa  SepalWidthCm    2.9
9       Iris-setosa  SepalWidthCm    3.1
10      Iris-setosa  SepalWidthCm    3.7
11      Iris-setosa  SepalWidthCm    3.4
12      Iris-setosa  SepalWidthCm    3.0
13      Iris-setosa  SepalWidthCm    3.0
14      Iris-setosa  SepalWidthCm    4.0
15      Iris-setosa  SepalWidthCm    4.4
16      Iris-setosa  SepalWidthCm    3.9
17      Iris-setosa  SepalWidthCm    3.5
18      Iris-setosa  SepalWidthCm    3.8
19      Iris-setosa  SepalWidthCm    3.8
20      Iris-setosa  SepalWidthCm    3.4
21      Iris-setosa  SepalWidthCm    3.7
22      Iris-setosa  SepalWidthCm    3.6
23      Iris-setosa  SepalWidthCm    3.3
24      Iris-setosa  SepalWidthCm    3.4
25      Iris-setosa  SepalWidthCm    3.0
26      Iris-setosa  SepalWidthCm    3.4
27      Iris-setosa  SepalWidthCm    3.5
28      Iris-setosa  SepalWidthCm    3.4
29      Iris-setosa  SepalWidthCm    3.2
..              ...           ...    ...
120  Iris-virginica  SepalWidthCm    3.2
121  Iris-virginica  SepalWidthCm    2.8
122  Iris-virginica  SepalWidthCm    2.8
123  Iris-virginica  SepalWidthCm    2.7
124  Iris-virginica  SepalWidthCm    3.3
125  Iris-virginica  SepalWidthCm    3.2
126  Iris-virginica  SepalWidthCm    2.8
127  Iris-virginica  SepalWidthCm    3.0
128  Iris-virginica  SepalWidthCm    2.8
129  Iris-virginica  SepalWidthCm    3.0
130  Iris-virginica  SepalWidthCm    2.8
131  Iris-virginica  SepalWidthCm    3.8
132  Iris-virginica  SepalWidthCm    2.8
133  Iris-virginica  SepalWidthCm    2.8
134  Iris-virginica  SepalWidthCm    2.6
135  Iris-virginica  SepalWidthCm    3.0
136  Iris-virginica  SepalWidthCm    3.4
137  Iris-virginica  SepalWidthCm    3.1
138  Iris-virginica  SepalWidthCm    3.0
139  Iris-virginica  SepalWidthCm    3.1
140  Iris-virginica  SepalWidthCm    3.1
141  Iris-virginica  SepalWidthCm    3.1
142  Iris-virginica  SepalWidthCm    2.7
143  Iris-virginica  SepalWidthCm    3.2
144  Iris-virginica  SepalWidthCm    3.3
145  Iris-virginica  SepalWidthCm    3.0
146  Iris-virginica  SepalWidthCm    2.5
147  Iris-virginica  SepalWidthCm    3.0
148  Iris-virginica  SepalWidthCm    3.4
149  Iris-virginica  SepalWidthCm    3.0

[150 rows x 3 columns]