# Minimally Sufficient Pandas 
#### https://medium.com/dunder-data/minimally-sufficient-pandas-a8e67f2a2428
### <span style="color:blue">Selecting a Single Column of Data</span>

In [4]:
import pandas as pd
df = pd.read_csv('iris.csv', index_col=0) # define which column will be the index
df.head(10)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa
6             5.4           3.9            1.7           0.4  Iris-setosa
7             4.6           3.4            1.4           0.3  Iris-setosa
8             5.0           3.4            1.5           0.2  Iris-setosa
9             4.4           2.9            1.4           0.2  Iris-setosa
10            4.9           3.1            1.5           0.1  Iris-setosa

In [7]:
df['SepalLengthCm'].head(10)

Id
1     5.1
2     4.9
3     4.7
4     4.6
5     5.0
6     5.4
7     4.6
8     5.0
9     4.4
10    4.9
Name: SepalLengthCm, dtype: float64

### <span style="color:red">Selection with dot notation</span>

In [9]:
df.SepalLengthCm.head(10)

Id
1     5.1
2     4.9
3     4.7
4     4.6
5     5.0
6     5.4
7     4.6
8     5.0
9     4.4
10    4.9
Name: SepalLengthCm, dtype: float64

#### This does not work in the following situations
- When there are spaces in the column name
- When the column name is the same as a DataFrame method
- When the column name is a variable

####